@model IEnumerable<CustomerCRUD.Models.CustomerModel>

@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-8">
    <h4>Customer List</h4>
    </div>
    <div class="col-4">
        <i class="bi bi-plus"></i>
        <a class="btn btn-primary" asp-area="" asp-controller="Customer" asp-action="Create">Create</a>
        

    </div>
</div>
<hr />
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Address
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model=> item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model=> item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model=> item.Address)
                    </td>
                    <td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>